@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --main: #003566;
  --main-variant: #001d3d;
  --secondary: #ffc300;
  --secondary-light: #ffdc69;
  --greyish-blue: #4f5d74;
  --dark-greyish-blue: #313a48;
  --light-Cyan: #cee3e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
  background-color: #001d3d;
}

main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.logo #exercise-list-button-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#exercise-list-button {
  padding: 5px 10px;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
}
#exercise-list-button:hover {
  background-color: var(--secondary-light);
  cursor: pointer;
}
#exercise-list-button[data-exercisesNum="0"]::after {
  opacity: 0;
}
#exercise-list-button::after {
  opacity: 1;
  content: attr(data-exercisesNum);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 3px;
  background-color: red;
  color: #fff;
  text-align: center;
  transition: opacity 200ms ease-in;
}
#exercise-list-button i {
  font-size: 1.5rem;
}
object {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
object svg > * {
  color: #4f5d74 !important;
}
#body-svg-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
  height: 500px;
  position: relative;
}
#body-svg-wrapper h2 {
  margin-bottom: 10px;
  color: var(--secondary);
}
.message {
  opacity: 0;
  padding: 5px 10px;
  background-color: #fff;
  position: absolute;
  top: 75px;
  left: 20%;
  border: none;
  border-radius: 10px;
  z-index: 2;
  transition: opacity 200ms ease-in;
}
.message::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: -5px;
  top: 0;
  border: 5px solid transparent;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
}
.body-view-buttons {
  display: flex;
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
  gap: 15px;
}
.body-button,
.add-exercise-button {
  font-size: 1.1rem;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--main-variant);
  border: none;
  /* border-radius: 5px; */
  color: var(--secondary);
  transition: all 200ms ease-in;
  border: 2px solid var(--secondary);
}
.add-exercise-button {
  margin-top: 5px;
  background-color: var(--main);
}
.add-exercise-button:disabled {
  opacity: 0.5;
}
.add-exercise-button:disabled:hover {
  background-color: var(--main);
  color: var(--secondary);
  cursor: not-allowed;
}

.body-button:hover,
.add-exercise-button:hover {
  background-color: var(--secondary);
  color: var(--main-variant);
}
#body-svg-front {
  visibility: visible;
}
#body-svg-back,
#body-svg-front {
  max-width: 400px;
  height: 400px;
  margin-top: 20px;
  position: absolute;
  top: 20px;
}

#exercises-wrapper {
  position: relative;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  height: 500px;
  background-color: var(--main);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-scrollbar-color: red orange;
  -webkit-scrollbar-width: thin;
}
#exercises-wrapper > * {
  color: var(--secondary);
}
#exercises-wrapper > * {
  margin-bottom: 10px;
}
.muscle-group-title {
  color: var(--secondary);
}
/* .muscle-group-description {
  color: var(--light-Cyan);
} */
.muscle-group-funfact {
  border: 2px dashed var(--secondary);
  padding: 20px;
}
.iframe-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.iframe-wrapper > h4 {
  color: var(--secondary);
  margin-bottom: 20px;
}
iframe {
  width: 100%;

  height: 360px;
  flex-grow: 1;
}

.add-exercise-button {
  padding: 4px 6px;
}

#exercise-list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 0px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 200ms ease-in;
  overflow: hidden;
  border-left: 5px solid var(--secondary);
  background-color: var(--main-variant);
  color: var(--secondary);
}
#exercise-list h2 {
  text-align: center;
}
#close-exercise-list-button {
  position: absolute;
  padding: 5px;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  z-index: 3;
}
#close-exercise-list-button:hover {
  background-color: var(--secondary);
  color: #003566;
  cursor: pointer;
}
#exercise-list > * {
  opacity: 0;
}
#exercise-list.open {
  /* display: none; */
  width: 320px;
  padding: 10px;
  overflow: auto;
}
#exercise-list.open > * {
  opacity: 1;
}
.difficulty-button {
  font-size: 0.8rem;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--main);
  border: none;
  /* border-radius: 5px; */
  color: var(--secondary);
  transition: all 200ms ease-in;
  border: 2px solid var(--secondary);
}
.difficulty-button:hover {
  background-color: var(--secondary);
  color: var(--main-variant);
}
.exercise-info {
  position: relative;
  display: flex;
  flex-direction: column;
}
.exercise-info .bubble {
  position: absolute;
  top: -25px;
  right: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: red;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}
.exercise-info:has(button) {
  flex-direction: row;
  gap: 4px;
}
.exercise {
  background: var(--main);
  padding: 5px 10px;
  border-radius: 10px;
}
.exercise p {
  margin-bottom: 10px;
  font-weight: 700;
}

/* Media query: large or landscape phones(414px and up) */

@media screen and (max-width: 414px) {
  .logo {
    width: 60px;
    height: 60px;
  }
  #exercise-list.open {
    width: 100%;
  }
  #body-svg-wrapper {
    margin-top: 60px;
  }
  #body-svg-wrapper h2 {
    display: none;
  }
  .message {
    max-width: 100px;
  }
  .exercise-info {
    flex-wrap: wrap;
  }
}
/* Media query: large or landscape phones(820px and up) */

@media screen and (max-width: 820px) {
  main {
    flex-direction: column;
  }
  .logo {
    z-index: 1;
  }
  #exercise-list {
    z-index: 2;
  }
  #exercises-wrapper {
    overflow: hidden;
    height: fit-content;
  }
  #body-svg-wrapper {
    margin-top: 60px;
  }
}
